.hero {
  picture.animated {
    animation: fadeIn 1s;
  }

  article.animated {
    animation: fadeIn 1s;
  }
}

.main {
  .row1 h2.animated {
    animation: fadeIn 1s;
  }

  .row1-flex {
    > *.animated {
      animation: fadeIn 1s;
    }

    > :nth-child(1).animated {
      animation-delay: 100ms;
    }

    > :nth-child(2).animated {
      animation-delay: 200ms;
    }

    > :nth-child(3).animated {
      animation-delay: 300ms;
    }
  }

  .row2.animated {
    animation: zoomIn 1s;
  }
}

@media (min-width: 600px) {
  .hero {
    picture.animated {
      animation: fadeInRight 1s;
    }

    article.animated {
      animation: fadeInLeft 1s;
    }
  }

  .main {
    .row1 h2.animated {
      animation: fadeIn 1s;
    }

    .row1-flex {
      > *.animated {
        animation: fadeInLeft 1s;
      }

      > :nth-child(1).animated {
        animation-delay: 100ms;
      }

      > :nth-child(2).animated {
        animation-delay: 200ms;
      }

      > :nth-child(3).animated {
        animation-delay: 300ms;
      }
    }

    .row2.animated {
      animation: zoomIn 1s;
    }
  }
}
